@use "../../styles/breakpoints" as *;

$grid-item-desktop-size: 263px;
$grid-item-mobile-size: 180px;

header.gds-navigation-header {
  background: var(--navigation-background, transparent);
}

.gds-navigation-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 0;

  // Mobile as default.
  height: var(--navigation-mobile-height);

  // Desktop from viewport width.
  @include desktopOnly {
    padding-right: var(--spacing-xs);
    height: var(--navigation-desktop-height);
  }

  a {
    color: var(--navigation-color);
  }
}

.gds-navigation-content {
  display: flex;
  flex-grow: 1;
  justify-content: var(--navigation-content-justify-content, center);
  background: var(--navigation-content-background, transparent);

  @include mobileAndTablet {
    display: none;
    position: absolute;
    background: var(--navigation-content-background, white);
    padding-top: var(--navigation-mobile-height);
    top: 0;
    left: 0;
    right: 0;
    // border-top: 2px solid var(--body-background-color);
    z-index: 100;
  }
}

.gds-navigation-mobile-extensions {
  display: block;
  border-top: var(--navigation-mobile-extensions-border-top, 2px solid var(--body-background-color));
  padding: var(--spacing-l) 0;

  @include desktopOnly {
    display: none;
  }
}
.gds-navigation-desktop-extensions {
  // This will allow the menu item content to be centered a bit better.
  min-width: 100px;

  @include mobileAndTablet {
    display: none;
  }
}

nav.gds-navigation-nav {
  @include mobileAndTablet {
    margin: var(--spacing-l) 0;
  }
}

.gds-navigation-hamburger {
  --text-button-l-font-size: 30px;
  --text-button-l-padding: var(--spacing-s);

  z-index: 101;
  position: relative;

  @include desktopOnly {
    display: none;
  }
}

[slot='menu-icon'],
[slot='close-menu-icon'] {
  padding-right: var(--spacing-s);
}

.close {
  [slot='menu-icon'] {
    display: block;
  }
  [slot='close-menu-icon'] {
    display: none;
  }
}

.open {
  z-index: 1000;
  position: relative;

  [slot='menu-icon'] {
    display: none;
  }
  [slot='close-menu-icon'] {
    display: block;
  }
}

.gds-navigation-logo {
  display: flex;
  align-items: center;
  padding: var(--navigation-logo-padding, 0 0 0 var(--spacing-s));
  z-index: 101;
  position: relative;
  height: var(--navigation-mobile-height);
  & img {
    width: var(--navigation-logo-width);
    height: var(--navigation-logo-height, 32px);
  }

  @include desktopOnly {
    flex-grow: 0;
    padding: var(--navigation-logo-padding, 0 0 0 var(--spacing-l));
    height: var(--navigation-desktop-height);
    & img {
      height: var(--navigation-logo-height, 48px);
    }
  }
}
