@use "../../styles/breakpoints" as *;

$grid-item-desktop-size: 263px;
$grid-item-mobile-size: 180px;

header.gds-navigation-header {
  background-color: var(--navigation-background-color);
}

.gds-navigation-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--spacing-xs);

  // Mobile as default.
  height: var(--navigation-mobile-height);

  // Desktop from viewport width.
  @include desktopOnly {
    height: var(--navigation-desktop-height);
  }

  a {
    color: var(--navigation-color);
  }
}

.gds-navigation-content {
  display: flex;

  @include mobileAndTablet {
    display: none;
    position: absolute;
    background-color: white;
    top: var(--navigation-mobile-height);
    left: 0;
    right: 0;
    border-top: 2px solid var(--body-background-color);
  }
}

.gds-navigation-mobile-extensions {
  display: block;
  border-top: 2px solid var(--body-background-color);
  padding: var(--spacing-l) 0;

  @include desktopOnly {
    display: none;
  }
}
.gds-navigation-desktop-extensions {
  @include mobileAndTablet {
    display: none;
  }
}

nav.gds-navigation-nav {
  @include mobileAndTablet {
    margin: var(--spacing-l) 0;
  }
}

.gds-navigation-hamburger {
  --button-l-font-size: 30px;
  --button-l-padding: 16px;

  @include desktopOnly {
    display: none;
  }
}

.gds-navigation-logo {
  display: flex;
  align-items: center;
  padding-left: var(--spacing-l);

  height: var(--navigation-mobile-height);
  & img {
    height: 32px;
  }
  @include desktopOnly {
    height: var(--navigation-desktop-height);
    & img {
      height: 48px;
    }
  }
}
