// Basic text elements
$heading-font-family: Gilroy, Arial, Helvetica, sans-serif;
$body-font-family: Gilroy, Arial, Helvetica, sans-serif;
$label-font-family: Gilroy, Arial, Helvetica, sans-serif;

// Other UI elements
$button-font-family: Gilroy, Arial, Helvetica, sans-serif;
