@import 'breakpoints';

/**
 * Naming scheme for variables is `--component-name-size-property-modifier`.
 */

:root {
  /* Colors */
  --color-primary: var(--color-ui-03);
  --color-secondary: var(--color-ui-04);
  --border-color-light: #dddddd;
  --background-color-primary: var(--color-ui-background-01);
  --background-color-secondary: var(--color-ui-background-02);
  --text-color-primary: var(--color-black);

  --color-white: #ffffff;
  --color-black: #333031;
  --color-ui-background-01: #eeeeee;
  --color-ui-background-02: rgba(238, 238, 238, 0.75);
  --color-ui-01: #acacac;
  --color-ui-02: #646464;
  --color-ui-03: #00a06e;
  --color-ui-04: #00a3b7;
  --color-ui-05: #f1615e;
  --color-ui-06: #ffdcdd;
  --color-ui-07: #9185db;

  /* Spacing */
  --spacing-xxxs: 4px;
  --spacing-xxs: 8px;
  --spacing-xs: 12px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 40px;
  --spacing-xxl: 48px;
  --spacing-xxxl: 80px;

  --gds-global-outline-focus: auto var(--color-ui-04);

  /* Body */
  --body-font-family: Gilroy, Arial, Helvetica, sans-serif;
  --body-background-color: var(--background-color-primary);
  --body-text-color: var(--text-color-primary);

  /* Headings */
  --heading-font-family: Gilroy, Arial, Helvetica, sans-serif;

  --heading-xs-font-family: var(--heading-font-family);
  --heading-xs-font-weight: 600;
  --heading-xs-font-size: 20px;
  --heading-xs-line-height: 24px;
  --heading-xs-text-transform: uppercase;
  --heading-xs-letter-spacing: 1.6px;
  --heading-xs-margin-top: auto;
  --heading-xs-margin-bottom: auto;

  --heading-s-font-family: var(--heading-font-family);
  --heading-s-font-weight: 500;
  --heading-s-font-size: 19px;
  --heading-s-line-height: 23px;
  --heading-s-text-transform: uppercase;
  --heading-s-letter-spacing: 3.8px;
  --heading-s-margin-top: auto;
  --heading-s-margin-bottom: auto;

  --heading-m-font-family: var(--heading-font-family);
  --heading-m-font-weight: 800;
  --heading-m-font-size: 20px;
  --heading-m-line-height: 24px;
  --heading-m-text-transform: uppercase;
  --heading-m-letter-spacing: 1.6px;
  --heading-m-margin-top: auto;
  --heading-m-margin-bottom: auto;

  --heading-l-font-family: var(--heading-font-family);
  --heading-l-font-weight: 600;
  --heading-l-font-size: 36px;
  --heading-l-line-height: 36px;
  --heading-l-text-transform: none;
  --heading-l-letter-spacing: 0px;
  --heading-l-margin-top: auto;
  --heading-l-margin-bottom: auto;

  --heading-xl-font-family: var(--heading-font-family);
  --heading-xl-font-weight: 600;
  --heading-xl-font-size: 60px;
  --heading-xl-line-height: 60px;
  --heading-xl-text-transform: none;
  --heading-xl-letter-spacing: 0px;
  --heading-xl-margin-top: auto;
  --heading-xl-margin-bottom: auto;

  --heading-xxl-font-family: var(--heading-font-family);
  --heading-xxl-font-weight: 800;
  --heading-xxl-font-size: 62px;
  --heading-xxl-line-height: 67px;
  --heading-xxl-text-transform: uppercase;
  --heading-xxl-letter-spacing: 0px;
  --heading-xxl-margin-top: auto;
  --heading-xxl-margin-bottom: auto;

  @include mobileAndTablet {
    --heading-xs-font-size: 16px;
    --heading-xs-line-height: 24px;
    --heading-xs-letter-spacing: 0;

    --heading-l-font-size: 30px;
    --heading-l-line-height: 30px;

    --heading-xl-font-size: 30px;
    --heading-xl-line-height: 30px;

    --heading-xxl-font-size: 30px;
    --heading-xxl-line-height: 30px;
  }

  /* Labels */
  --label-font-family: Gilroy, Arial, Helvetica, sans-serif;
  --label-text-transform: uppercase;
  --label-s-font-weight: 600;
  --label-m-font-weight: 500;
  --label-l-font-weight: 400;
  --label-xl-font-weight: 600;
  --label-s-font-size: 10px;
  --label-m-font-size: 12px;
  --label-l-font-size: 16px;
  --label-xl-font-size: 16px;
  --label-s-letter-spacing: 0.5px;
  --label-m-letter-spacing: 1px;
  --label-l-letter-spacing: 1.28px;
  --label-xl-letter-spacing: 1.28px;
  --label-s-line-height: 14px;
  --label-m-line-height: 16px;
  --label-l-line-height: 19px;
  --label-xl-line-height: 19px;

  /* Paragraph, Text */
  --paragraph-gutter: var(--spacing-l);

  --paragraph-xs-font-size: 13px;
  --paragraph-xs-line-height: 17px;

  --paragraph-s-font-size: 15px;
  --paragraph-s-line-height: 25px;

  --paragraph-m-font-size: 17px;
  --paragraph-m-line-height: 27px;

  --paragraph-l-font-size: 20px;
  --paragraph-l-line-height: 24px;

  @include mobileAndTablet {
    --paragraph-l-font-size: 18px;
  }

  /* Tags */
  --tag-padding: 4px 12px 6px 12px;
  --tag-color: var(--color-white);
  --tag-background-color: var(--color-black);
  /* Can also define this: --tag-border: none; */
  --tag-border-color: transparent;
  --tag-border-radius: 10px;
  --tag-line-height: 1em;

  /* Tag Group */
  --tag-group-gutter-x: var(--spacing-s);
  --tag-group-gutter-y: var(--spacing-xs);

  @include mobileAndTablet {
    --tag-group-gutter-x: var(--spacing-xxs);
    --tag-group-gutter-y: var(--spacing-xxs);
  }

  /* Buttons */
  --button-font-family: Gilroy, Arial, Helvetica, sans-serif;
  --button-color: var(--color-white);
  --button-background-color: var(--color-black);
  --button-background-color-hover: var(--color-ui-02);
  --button-background-color-disabled: var(--color-ui-02);
  --button-background-color-active: var(--color-ui-02);
  --button-background-image: none;
  --button-background-image-hover: var(--button-background-image, none);
  --button-background-image-active: var(--button-background-image, none);
  --button-font-weight: 500;
  --button-text-transform: uppercase;
  --button-s-letter-spacing: 1.6px;
  --button-m-letter-spacing: 1.28px;
  --button-l-letter-spacing: 1.28px;
  --button-icon-gutter: 16px;
  --button-transition: background-color 0.1s ease-out;
  --button-border-radius: 8px;
  --button-box-shadow: none;
  --button-border: none;
  --button-outline: none;
  --button-outline-focus: var(--gds-global-outline-focus);
  /* Can also define this: --button-outline-hover: none; */
  /* Precise vertical position is dependent on the font. So you might need to adjust this. */
  --button-s-padding: 12px 24px 8px 24px;
  --button-m-padding: 18px 32px 14px 32px;
  --button-l-padding: 18px 32px 14px 32px;
  --button-s-font-size: 16px;
  --button-m-font-size: 20px;
  --button-l-font-size: 24px;

  /* Text Buttons */
  --text-button-font-family: var(--button-font-family);
  --text-button-color: inherit;
  --text-button-color-hover: var(--text-button-color);
  --text-button-font-weight: 600;
  --text-button-text-transform: var(--button-text-transform);
  --text-button-s-letter-spacing: var(--button-s-letter-spacing);
  --text-button-m-letter-spacing: var(--button-m-letter-spacing);
  --text-button-l-letter-spacing: var(--button-l-letter-spacing);
  --text-button-icon-gutter: var(--button-icon-gutter);
  --text-button-s-padding: 12px 0 8px 0;
  --text-button-m-padding: 18px 0 14px 0;
  --text-button-l-padding: 18px 0 14px 0;
  --text-button-s-font-size: var(--button-s-font-size);
  --text-button-m-font-size: var(--button-m-font-size);
  --text-button-l-font-size: var(--button-l-font-size);
  --text-button-icon-transition: transform 0.1s ease-out;
  --text-button-icon-hover-offset: var(--spacing-xxs);
  --text-button-outline-focus: var(--gds-global-outline-focus);

  /* Navigation */
  --navigation-color: var(--color-black);
  --navigation-background: var(--color-white);
  --navigation-desktop-height: 100px;
  --navigation-mobile-height: 70px;
  // --navigation-padding: 0 var(--spacing-l);

  gds-navigation:not(.hydrated) {
    visibility: hidden;
  }

  /* Menu */
  --gds-menu-text-align: left;
  --gds-menu-justify-content: flex-start;
  --gds-menu-item-background-color-active: var(--background-color-primary);
  --gds-menu-link-outline-focus: var(--gds-global-outline-focus);
  // By default this is visible on desktop and hidden on mobile.
  // --gds-menu-item-underline-active: underline;
  // --gds-menu-item-underline-thickness-active: 3px;
  // --gds-menu-item-underline-color-active: currentColor;
  --gds-menu-item-underline-offset-active: var(--spacing-xxs);
  --gds-menu-item-font-family: var(--label-font-family);
  --gds-menu-item-font-size: var(--label-l-font-size);
  --gds-menu-item-line-height: var(--label-l-line-height);
  --gds-menu-item-letter-spacing: var(--label-l-letter-spacing);
  --gds-menu-item-font-weight: var(--label-l-font-weight);
  --gds-menu-item-text-transform: var(--label-text-transform);
  --gds-menu-item-nested-underline-active: none;
  --gds-menu-item-nested-submenu-icon-outline-focus: var(--gds-global-outline-focus);
  --gds-menu-item-padding-horizontal: var(--spacing-s) var(--spacing-s) calc(var(--spacing-s) - 0.15em) var(--spacing-s);
  --gds-menu-item-padding-vertical: var(--spacing-s) var(--spacing-m) calc(var(--spacing-s) - 0.15em) var(--spacing-m);

  // --gds-submenu-max-width: 200px;
  --gds-submenu-a-outline-focus: var(--gds-menu-link-outline-focus);

  gds-submenu {
    --gds-menu-item-font-family: var(--body-font-family);
    --gds-menu-item-font-size: var(--paragraph-font-size);
    --gds-menu-item-line-height: var(--paragraph-line-height);
    --gds-menu-item-letter-spacing: 0;
    --gds-menu-item-font-weight: normal;
    --gds-menu-item-text-transform: none;
  }

  /* Card */
  --card-border: none;
  --card-border-radius: 40px;
  --card-width: 100vw;
  --card-max-width: 450px;
  --card-background-color: white;
  --card-text-align: center;
  --card-box-shadow: 5px 5px 15px #64646426, -5px -5px 15px #ffffffcc;
  --card-box-shadow-hover: 5px 5px 15px #64646426, -5px -5px 15px #ffffffcc;
  --card-box-shadow-active: 5px 5px 15px #64646426, -5px -5px 15px #ffffffcc;

  /* Media Card */
  --media-card-media-height: 300px;
  --media-card-object-fit: cover;
  --media-card-blur-radius: 5px;
  --media-card-blur-opacity: 0.5;
  --media-card-overlay-color: var(--color-white);
  --media-card-overlay-opacity: 0.75;
  --media-card-content-padding: var(--spacing-m) var(--spacing-m) var(--spacing-l) var(--spacing-m);
  --media-card-media-padding: 0;
  --media-card-paragraph-gutter: var(--spacing-xxs);

  @include mobileAndTablet {
    --media-card-content-padding: var(--spacing-m) var(--spacing-m) var(--spacing-l) var(--spacing-m);
  }

  /* Logo Grid */
  --logo-grid-item-desktop-count: 4;
  --logo-grid-item-tablet-count: 2;
  --logo-grid-item-mobile-count: 2;
  --logo-grid-item-desktop-size: 336px;
  --logo-grid-item-tablet-size: 180px;
  --logo-grid-item-mobile-size: 180px;
  --logo-grid-item-border-color: var(--border-color-light);
  --logo-grid-item-padding: 15%;

  /* Icon */
  --icon-color: var(--text-color-primary);
  --icon-color-hover: var(--text-color-primary);
  --icon-font-size: var(--paragraph-m-font-size);

  /* Accordion */
  --accordion-color: inherit;
  --accordion-background: var(--color-white);
  --accordion-content-background: var(--color-white);
  --accordion-expanded-header-background: var(--color-ui-background-01);
  --accordion-border: none;
  --accordion-border-radius: 8px;
  --accordion-box-shadow: 0px 0px 8px #0000001f;
  --accordion-padding: var(--spacing-s);
  --accordion-header-padding: var(--accordion-padding);
  --accordion-justify-content: space-between;
  --accordion-heading-margin-left: var(--spacing-xxs);
  --accordion-outline-focus: var(--gds-global-outline-focus);

  /* Input Wrapper */
  --gds-input-wrapper-label-color: var(--color-ui-02);

  /* Input and textarea elements inside of Input Wrapper */
  --gds-input-color: inherit;
  --gds-input-font-family: var(--body-font-family);
  --gds-input-font-weight: normal;
  --gds-input-background: var(--color-ui-background-01);
  --gds-input-border: 1px solid var(--gds-input-background);
  --gds-input-border-focus: 1px solid #4573ae;
  --gds-input-border-radius: none;
  --gds-input-font-size: inherit;
  --gds-input-placeholder-color: darkgray;
  --gds-input-min-height: 36px;
  // Tweak the padding here, to get your font vertically aligned exactly.
  --gds-input-padding: var(--spacing-xs) var(--spacing-s) calc(var(--spacing-xs) - 0.15em) var(--spacing-s);

  /* Hint */
  --gds-hint-color: var(--body-text-color);
  --gds-hint-background: var(--color-white);
  --gds-hint-border: 1px solid var(--color-ui-01);
  --gds-hint-border-radius: 4px 4px 4px 0;
  --gds-hint-min-width: 10vw;
  --gds-hint-max-width: 80vw;
  --gds-hint-outline-focus: var(--gds-global-outline-focus);

  /* Link */
  --gds-link-outline-focus: var(--gds-global-outline-focus);

  @include mobileAndTablet {
    --gds-hint-min-width: 50vw;
  }

  /* Slider */
  --gds-slider-outline-focus: var(--gds-global-outline-focus);

  /* Hamburger */
  --gds-hamburger-width: 25px;
  --gds-hamburger-color: currentColor;
  --gds-hamburger-thickness: 3px;
  --gds-hamburger-line-separation: 5px;

  /* Search form */
  --gds-search-form-input-font-family: var(--body-font-family);
  --gds-search-form-outline-focus: var(--gds-global-outline-focus);
  --gds-search-form-input-width: calc(7ch + var(--gds-search-form-button-width));
  --gds-search-form-input-width-focus: calc(15ch + var(--gds-search-form-button-width));
  --gds-search-form-input-font-size: var(--gds-input-font-size);
  --gds-search-form-color: var(--color-black);
  --gds-search-form-input-color: var(--gds-input-color);
  --gds-search-form-input-padding: var(--spacing-xxs) var(--spacing-xxs) calc(var(--spacing-xxs) - 3px) var(--spacing-xxs);
  --gds-search-form-button-padding: var(--spacing-xxs);
  --gds-search-form-button-width: calc(1em + var(--spacing-xxs) * 2); // 1em icon + 2 padding
  --gds-search-form-background: transparent;
  --gds-search-form-border: 0;
  --gds-search-form-border-radius: 0;
}
