/* NOTE: Use plain css for now. Switch to using Sass once someone get's it to load in storybook preview iframe. */

/**
 * Naming scheme for variables is `--component-name-size-property-modifier`.
 */

:root {
  /* Colors */
  --color-primary: var(--color-ui-03);
  --color-secondary: var(--color-ui-04);
  --border-color-light: #dddddd;
  --background-color-primary: var(--color-ui-background-01);
  --background-color-secondary: var(--color-ui-background-02);
  --text-color-primary: var(--color-black);

  --color-white: #ffffff;
  --color-black: #333031;
  --color-ui-background-01: #eeeeee;
  --color-ui-background-02: rgba(238, 238, 238, 0.75);
  --color-ui-01: #acacac;
  --color-ui-02: #646464;
  --color-ui-03: #00a06e;
  --color-ui-04: #00a3b7;
  --color-ui-05: #f1615e;
  --color-ui-06: #ffdcdd;
  --color-ui-07: #9185db;

  /* Spacing */
  --spacing-xxxs: 4px;
  --spacing-xxs: 8px;
  --spacing-xs: 12px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 40px;
  --spacing-xxl: 48px;
  --spacing-xxxl: 80px;

  /* Body */
  --body-font-family: Gilroy, Arial, Helvetica, sans-serif;
  --body-background-color: var(--background-color-primary);
  --body-text-color: var(--text-color-primary);

  /* Headings */
  --heading-font-family: Gilroy, Arial, Helvetica, sans-serif;
  --heading-s-font-size: 20px;
  --heading-m-font-size: 28px;
  --heading-l-font-size: 36px;
  --heading-xl-font-size: 60px;
  --heading-xxl-font-size: 72px;
  --heading-s-font-weight: 800;
  --heading-m-font-weight: 600;
  --heading-l-font-weight: 600;
  --heading-xl-font-weight: 600;
  --heading-xxl-font-weight: 600;
  --heading-s-line-height: 24px;
  --heading-m-line-height: 28px;
  --heading-l-line-height: 36px;
  --heading-xl-line-height: 60px;
  --heading-xxl-line-height: 74px;
  --heading-s-text-transform: uppercase;
  --heading-m-text-transform: none;
  --heading-l-text-transform: none;
  --heading-xl-text-transform: none;
  --heading-xxl-text-transform: none;
  --heading-s-letter-spacing: 1.6px;
  --heading-m-letter-spacing: 0px;
  --heading-l-letter-spacing: 0px;
  --heading-xl-letter-spacing: 0px;
  --heading-xxl-letter-spacing: 0px;

  /* Labels */
  --label-font-family: Gilroy, Arial, Helvetica, sans-serif;
  --label-s-font-weight: 600;
  --label-m-font-weight: 500;
  --label-l-font-weight: 400;
  --label-s-font-size: 10px;
  --label-m-font-size: 12px;
  --label-l-font-size: 16px;
  --label-s-letter-spacing: 0.5px;
  --label-m-letter-spacing: 1px;
  --label-l-letter-spacing: 1.28px;

  /* Tags */
  --tag-padding: 4px 12px 6px 12px;
  --tag-color: white;
  --tag-background-color: black;
  /* Can also define this: --tag-border: none; */
  --tag-border-color: transparent;
  --tag-border-radius: 10px;
  --tag-line-height: 1em;

  /* Buttons */
  --button-font-family: Gilroy, Arial, Helvetica, sans-serif;
  --button-color: white;
  --button-background-color: var(--color-black);
  --button-background-color-hover: var(--color-ui-02);
  --button-background-image: none;
  --button-background-image-hover: var(--button-background-image, none);
  --button-font-weight: 500;
  --button-text-transform: uppercase;
  --button-s-letter-spacing: 1.6px;
  --button-m-letter-spacing: 1.28px;
  --button-l-letter-spacing: 1.28px;
  --button-border-radius: 8px;
  --button-box-shadow: none;
  --button-border: none;
  --button-outline: none;
  /* Can also define this: --button-outline-hover: none; */
  /* Precise vertical position is dependent on the font. So you might need to adjust this. */
  --button-s-padding: 12px 24px 8px 24px;
  --button-m-padding: 18px 32px 14px 32px;
  --button-l-padding: 18px 32px 14px 32px;
  --button-s-font-size: 16px;
  --button-m-font-size: 20px;
  --button-l-font-size: 24px;

  /* Navigation */
  --navigation-color: black;
  --navigation-color-transparent: white;
  --navigation-background-color: white;
  --navigation-desktop-height: 100px;
  --navigation-mobile-height: 70px;

  /* Card */
  --card-border: none;
  --card-border-radius: 40px;
  --card-width: 450px;
  --card-background-color: white;
  --card-box-shadow: 5px 5px 15px #64646426, -5px -5px 15px #ffffffcc;

  /* Media Card */
  --media-card-media-height: 300px;
  --media-card-object-fit: cover;

  /* Logo Grid */
  --logo-grid-item-desktop-count: 4;
  --logo-grid-item-tablet-count: 2;
  --logo-grid-item-mobile-count: 2;
  --logo-grid-item-desktop-size: 263px;
  --logo-grid-item-tablet-size: 180px;
  --logo-grid-item-mobile-size: 180px;
  --logo-grid-item-border-color: var(--border-color-light);
  --logo-grid-item-padding: 15%;
}
