/* NOTE: Use plain css for now. Switch to using Sass once someone get's it to load in storybook preview iframe. */

/**
 * Normalize
 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /**
   * Typography
   */

  /* Basic text elements */
  --heading-font-family: Gilroy, Arial, Helvetica, sans-serif;
  --body-font-family: Gilroy, Arial, Helvetica, sans-serif;
  --label-font-family: Gilroy, Arial, Helvetica, sans-serif;

  /* Other UI elements */
  --button-font-family: Gilroy, Arial, Helvetica, sans-serif;

  /**
   * Colors
   */

  /* Base colors */
  --color-primary: #00a06e;
  --color-secondary: #00a3b7;

  /* Fill colors */
  --body-background-color: #eeeeee;

  /* Font colors */
  --body-text-color: black;

  /* Border colors */
  --border-color-light: #eeeeee;
}
