@mixin media-card {
  position: relative;
  display: inline-block;
}

@mixin media {
  position: relative;
  width: 100%;
  height: var(--media-card-media-height, 300px);
  // Hide potential offset due to effects applied.
  overflow: hidden;
}

@mixin image {
  width: 100%;
  height: var(--media-card-media-height, 300px);
  display: block;
  object-fit: var(--media-card-object-fit, cover);
}

@mixin superimposed {
  width: 100%;
  height: var(--media-card-media-height, 300px);
  position: absolute;
  z-index: 1;

  & > .superimposed-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    & > img {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

@mixin headline {
  margin-top: 0;
  margin-bottom: var(--media-card-paragraph-gutter);
}

@mixin description {
  margin-top: var(--media-card-paragraph-gutter);
  margin-bottom: 0;
}

@mixin tags {
  margin-top: var(--spacing-s);
}

@mixin content {
  --paragraph-gutter: var(--media-card-paragraph-gutter);

  padding: var(--media-card-content-padding);
}

@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--media-card-overlay-color);
  opacity: var(--media-card-overlay-opacity);
  pointer-events: none;
}

@mixin image-blur-effect {
  filter: blur(var(--media-card-blur-radius));
  width: calc(100% + var(--media-card-blur-radius) * 2);
  height: calc(var(--media-card-media-height, 300px) + var(--media-card-blur-radius) * 2);
  margin: calc(var(--media-card-blur-radius) * -1);
}
