@mixin image {
  width: 100%;
  height: var(--gds-media-card-media-height, 300px);
  display: block;
  margin-bottom: 24px;
  object-fit: cover;
}

@mixin headline {
  margin-bottom: 0 0 var(--spacing-xxs) 0;
}

@mixin description {
  margin: 0 0 var(--spacing-s) 0;
}

@mixin tags {
  margin: 0 0 var(--spacing-xxs) 0;
}

@mixin content {
  padding: var(--spacing-m) var(--spacing-xs);
}
