@mixin media-card {
  position: relative;
  display: inline-block;
}

@mixin media {
  position: relative;
  width: 100%;
  height: var(--media-card-media-height, 300px);
}

@mixin image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@mixin superimpose {
  width: 100%;
  height: var(--media-card-media-height, 300px);
  position: absolute;
  z-index: 1;

  & > .superimpose-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    & > img {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

@mixin image {
  width: 100%;
  height: var(--media-card-media-height, 300px);
  display: block;
  object-fit: cover;
}

@mixin headline {
  margin-bottom: 0 0 var(--spacing-xxs) 0;
}

@mixin description {
  margin: 0 0 var(--spacing-s) 0;
}

@mixin tags {
  margin: 0 0 var(--spacing-xxs) 0;
}

@mixin content {
  padding: var(--spacing-m) var(--spacing-xs);
}
