@use "index" as *;

:host {
  display: block;
}

.media-card {
  @include media-card;
}

.media {
  @include media;
}

.image {
  @include image;

  &.has-blur-effect {
    @include image-blur-effect;
  }
}

.has-overlay {
  @include overlay;
}

.superimposed {
  @include superimposed;
}

.headline,
::slotted([slot='headline']) {
  display: block;

  @include headline;
}

.description,
::slotted([slot='description']) {
  display: block;

  @include description;
}

::slotted([slot='tags']) {
  display: block;

  @include tags;
}

.content {
  @include content;
}
