:host {
  width: 100%;
}

@mixin thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--gds-slider-thumb-size, 25px);
  height: var(--gds-slider-thumb-size, 25px);
  background: var(--gds-slider-thumb-background, white);
  box-shadow: var(--gds-slider-thumb-box-shadow, 0px 0px 8px #0000001f);
  border: var(--gds-slider-thumb-box-shadow, 1px solid #ccc);
  border-radius: 50%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: var(--gds-slider-height, 5px);
  border-radius: var(--gds-slider-border-radius, 0);
  background-color: var(--gds-slider-background-color, #d4d4d4);

  &:focus {
    outline: var(--gds-slider-outline-focus);
    box-shadow: var(--gds-slider-box-shadow-focus);
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }

  &::-moz-range-thumb {
    @include thumb;
  }
}
