:host {
  position: relative;
  display: inline-block;
}

.icon {
  cursor: pointer;
  appearance: none;
  border: 0;
  background: none;
  padding: 0;
  outline: none;
  height: var(--icon-font-size);

  &:focus {
    outline: var(--gds-hint-outline-focus);

    // Until :focus-visible has proper cross-browser support.
    &:not(:focus-visible) {
      outline: none;
    }
  }
}

.content {
  min-width: var(--gds-hint-min-width);
  max-width: var(--gds-hint-max-width);
  position: absolute;
  bottom: 100%;
  left: 100%;
  color: var(--gds-hint-color);
  background: var(--gds-hint-background);
  padding: var(--spacing-2xs);
  border: var(--gds-hint-border);
  border-radius: var(--gds-hint-border-radius);
  visibility: hidden;

  &.open {
    visibility: visible;
  }

  &:focus {
    outline: var(--gds-hint-outline-focus);
  }
}
