@mixin base {
  text-decoration: none;
  // TODO: Use custom variable colors
  color: inherit;

  &:focus {
    outline: var(--gds-link-outline-focus);

    // Until :focus-visible has proper cross-browser support.
    &:not(:focus-visible) {
      outline: none;
    }
  }
}
