@use "index" as *;

a {
  @include base;
  display: inline-block;
  height: var(--gds-link-height, auto);
}

:host([block]),
:host([block] > a) {
  display: block;
  height: var(--gds-link-height, auto);
}


:host([full]),
:host([full] > a) {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
