@use "index" as *;

:host {
  display: inline-block;
}

gds-text {
  @include label;
}

/* Style slotted input and textarea elements */
::slotted(input),
::slotted(select),
::slotted(textarea) {
  @include form-element-base;
}

::slotted(select) {
  @include form-select;
}

::slotted(select:invalid),
::slotted(input::placeholder),
::slotted(textarea::placeholder) {
  @include placeholder;
}

::slotted(input:focus),
::slotted(select:focus),
::slotted(textarea:focus) {
  @include on-focus;
}

::slotted(gds-hint) {
  margin-left: 10px;
  --gds-icon-color: inherit;
  --gds-icon-font-size: inherit;
}

.error {
  @include error;
}
