@mixin card {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  text-align: var(--gds-card-text-align, center);
  border: var(--gds-card-border);
  border-radius: var(--gds-card-border-radius, 8px);
  background-color: var(--gds-card-background-color, white);
  box-shadow: var(--gds-card-box-shadow);
  overflow: hidden;
  width: var(--gds-card-width);
  max-width: var(--gds-card-max-width, var(--gds-card-width));
  flex-direction: column;
}
