@use "index" as *;

:host {
  @include card;
  transition: box-shadow 0.3s;
}

:host(:hover) {
  box-shadow: var(--card-box-shadow-hover);
}

:host(:active),
:host(:focus),
:host(:focus-within) {
  outline: none;
  box-shadow: var(--card-box-shadow-active);
}
