@mixin base {
  display: inline;
  font-family: var(--label-font-family);
  text-transform: var(--label-text-transform, uppercase);
  line-height: var(--label-line-height);
}

@mixin size-xl {
  font-size: var(--label-xl-font-size);
  line-height: var(--label-xl-line-height, 19px);
  letter-spacing: var(--label-xl-letter-spacing);
  font-weight: var(--label-xl-font-weight);
}

@mixin size-l {
  font-size: var(--label-l-font-size);
  line-height: var(--label-l-line-height, 19px);
  letter-spacing: var(--label-l-letter-spacing);
  font-weight: var(--label-l-font-weight);
}

@mixin size-m {
  font-size: var(--label-m-font-size);
  line-height: var(--label-m-line-height, 16px);
  letter-spacing: var(--label-m-letter-spacing);
  font-weight: var(--label-m-font-weight);
}

@mixin size-s {
  font-size: var(--label-s-font-size);
  line-height: var(--label-s-line-height, 14px);
  letter-spacing: var(--label-s-letter-spacing);
  font-weight: var(--label-s-font-weight);
}
