@mixin base {
  color: var(--body-text-color);
  font-family: var(--body-font-family);
  font-weight: 400;
  letter-spacing: 0px;
}

@mixin size-l {
  @include base;
  font-size: var(--paragraph-l-font-size);
  line-height: var(--paragraph-l-line-height);
}

@mixin size-m {
  @include base;
  font-size: var(--paragraph-m-font-size);
  line-height: var(--paragraph-m-line-height);
}

@mixin size-s {
  @include base;
  font-size: var(--paragraph-s-font-size);
  line-height: var(--paragraph-s-line-height);
}

@mixin size-xs {
  @include base;
  font-size: var(--paragraph-xs-font-size);
  line-height: var(--paragraph-xs-line-height);
}
