@use "index" as *;

:host {
  display: block;
  margin-block-start: var(--paragraph-gutter);
  margin-block-end: var(--paragraph-gutter);

  @include size-m;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

:host-context([size='l']) {
  @include size-l;
}

:host-context([size='s']) {
  @include size-s;
}

:host-context([size='xs']) {
  @include size-xs;
}
