// TODO: Add more css variables

@mixin base {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: var(--button-color, inherit);
  background-color: var(--button-background-color, inherit);
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  text-transform: var(--button-text-transform);
  height: 56px;
  line-height: 1em;
  font-size: 20px;
  letter-spacing: var(--button-m-letter-spacing);
  border: none;
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  padding: var(--button-m-padding);
  &:hover {
    background-color: var(--button-background-color-hover);
  }
  &:disabled {
    background-color: var(--button-background-color-hover);
  }
  & > * + * {
    margin-left: 16px;
  }
}

@mixin text-button {
  color: inherit;
  background-color: inherit;
  &:hover {
    background-color: inherit;
  }
  &:disabled {
    background-color: inherit;
  }
}

@mixin size-s {
  height: 48px;
  font-size: var(--button-s-font-size);
  letter-spacing: var(--button-s-letter-spacing);
  padding: var(--button-s-padding);
}

@mixin size-m {
  height: 56px;
  font-size: var(--button-m-font-size);
  letter-spacing: var(--button-m-letter-spacing);
  padding: var(--button-m-padding);
}

@mixin size-l {
  height: 56px;
  font-size: var(--button-l-font-size);
  letter-spacing: var(--button-l-letter-spacing);
  padding: var(--button-l-padding);
}
