@use "../../styles/breakpoints" as *;

:host {
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  text-align: var(--menu-text-align, left);
  list-style-type: none;
  justify-content: var(--menu-justify-content);

  // Direction derived from viewport width.
  flex-direction: column;
  @include desktopOnly {
    flex-direction: row;
  }
}

// Vertical direction explicitly defined.
.vertical {
  flex-direction: column;
}

// Horizontal direction explicitly defined.
.horizontal {
  flex-direction: row;
}

a {
  color: unset;
  text-decoration: none;
}
