@use "../../styles/breakpoints" as *;

:host {
  position: absolute;
  padding: var(--gds-submenu-padding, 0);
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: var(--gds-menu-text-align, left);
  background: var(--gds-submenu-background, white);
  box-shadow: var(--gds-submenu-box-shadow, 0 5px 10px #0000000c);
  list-style-type: none;
}

// Mobile and tablet behaves a bit differently
@include mobileAndTablet {
  :host {
    position: relative;
    background: var(--gds-submenu-background, transparent);
    box-shadow: var(--gds-submenu-box-shadow, none);
  }
}

// Reset menu link styles
::slotted(a) {
  color: unset;
  text-decoration: none;
  display: block;
}

// Focus link styles
::slotted(a:focus) {
  outline: var(--gds-submenu-a-outline-focus);
}
