@use "../../styles/breakpoints" as *;

:host {
  display: block;
  position: absolute;
}

ul {
  padding: var(--gds-submenu-padding, 0);
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: var(--menu-text-align, left);
  background: var(--gds-submenu-background, white);
  box-shadow: var(--gds-submenu-box-shadow, 0 5px 10px #0000000c);
  list-style-type: none;
}

// Mobile and tablet behaves a bit differently
@include mobileAndTablet {
  :host {
    position: relative;
  }
  ul {
    background: var(--gds-submenu-background, transparent);
    box-shadow: var(--gds-submenu-box-shadow, none);
  }
}

a {
  color: unset;
  text-decoration: none;
  display: block;

  &:focus {
    outline: none;
    box-shadow: var(--menu-submenu-link-box-shadow-focus);
  }
}
