@use "../../styles/breakpoints" as *;

.active {
  @include mobileOnly {
    background-color: var(--menu-item-background-color-active, var(--background-color-primary));
  }
}

.content {
  height: var(--spacing-xxl);
  display: flex;
  flex-direction: column;
  justify-content: center;

  // Mobile as default.
  padding: 0 var(--spacing-m);

  // Desktop from viewport width.
  @include desktopOnly {
    padding: 0 var(--spacing-s);
  }
}

// Vertical direction explicitly defined.
:host-context(.vertical) {
  & .content {
    padding: 0 var(--spacing-m);
  }
}

// Horizontal direction explicitly defined.
:host-context(.horizontal) {
  & .content {
    padding: 0 var(--spacing-s);
  }
}

.item {
  // For historical reasons, fallback to gds-label size="l"
  font-family: var(--gds-menu-item-font-family, var(--label-font-family));
  font-size: var(--gds-menu-item-font-size, var(--label-l-font-size));
  line-height: var(--gds-menu-item-line-height, var(--label-l-line-height));
  letter-spacing: var(--gds-menu-item-letter-spacing, var(--label-l-letter-spacing));
  font-weight: var(--gds-menu-item-font-weight, var(--label-l-font-weight));
  text-transform: var(--gds-menu-item-text-transform, var(--label-text-transform));
}

.underline-container {
  position: relative;
  width: 100%;
  height: 0;
  display: var(--menu-item-underline-display, block);

  // Hide underline on mobile.
  @include mobileAndTablet {
    display: var(--menu-item-underline-display, none);
  }
}

.underline {
  position: absolute;
  width: 100%;
  top: 4px;
  border-bottom: 3px solid var(--navigation-underline-color, var(--navigation-color));
}

.divider {
  margin: var(--spacing-m) 0;
  border-top: 2px solid var(--background-color-primary);
}
