// TODO: Move styles to _index.scss if needed for WP?
@use "index" as *;
@use "../../styles/breakpoints" as *;

li {
  @include base;
  box-sizing: border-box;
  list-style: none;
}

.label {
  height: var(--spacing-xxl);
  display: flex;
  align-items: center;

  // Mobile as default.
  padding: 0 var(--spacing-m);

  // Desktop from viewport width.
  @include desktopOnly {
    padding: 0 var(--spacing-s);
  }
}

// Vertical direction explicitly defined.
:host-context(.vertical) {
  & .label {
    padding: 0 var(--spacing-m);
  }
}

// Horizontal direction explicitly defined.
:host-context(.horizontal) {
  & .label {
    padding: 0 var(--spacing-s);
  }
}

.divider {
  margin: var(--spacing-m) 0;
  border-top: 2px solid var(--body-background-color);
}
