@use "../../styles/breakpoints" as *;

:host {
  display: block;
  position: relative;
}

@include mobileOnly {
  :host([active]) {
    background-color: var(--menu-item-background-color-active, var(--background-color-primary));
  }
}

// Item containing link and toggler
.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--gds-menu-item-font-family);
  font-size: var(--gds-menu-item-font-size);
  line-height: var(--gds-menu-item-line-height);
  letter-spacing: var(--gds-menu-item-letter-spacing);
  font-weight: var(--gds-menu-item-font-weight);
  text-transform: var(--gds-menu-item-text-transform);
}

.submenu-icon {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 0;

  // Reset browser default button styles
  appearance: none;
  background: none;
  border: 0;
  outline: none;
  font-size: inherit;
  line-height: inherit;
  margin-left: -1em;

  .submenu-icon-content {
    display: block;
    padding: var(--spacing-xs);
    height: 1em;
    width: 1em;
    box-sizing: content-box;
    outline: none;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }

  // Only visible when focused through the keyboard, focusing by clicking the
  // button doesn't show focus styles
  &:focus > .submenu-icon-content {
    outline: var(--gds-menu-item-nested-submenu-icon-outline-focus);
  }
}

// Submenu is hidden until set to expanded on the host element
.submenu {
  overflow: hidden;
  max-height: 0px;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease;
  white-space: nowrap;

  :host([expanded]) & {
    overflow: visible;
    visibility: visible;
    opacity: 1;
  }
}

// Mobile and tablet behaves a bit differently
@include mobileAndTablet {
  .submenu {
    max-height: 0px;
    transition: max-height 0.3s ease;
    position: relative;
    opacity: 1;
  }

  :host([expanded]) {
    .submenu-icon-content {
      transform: rotate(-90deg);
    }

    .submenu {
      overflow: hidden;
      max-height: 300px;
    }
  }
}

::slotted(a) {
  // Reset menu link styles
  color: unset;
  text-decoration: none;
  // Note that the link should have a padding all around for the focus styles
  // to look good.
  padding: var(--gds-menu-item-nested-a-padding, var(--spacing-xs) var(--spacing-m));

  // Desktop from viewport width.
  @include desktopOnly {
    padding-left: var(--spacing-s);
    padding-right: var(--spacing-s);
  }
}

// Focus link styles
::slotted(a:focus) {
  outline: var(--menu-link-outline-focus);
  z-index: 1; // go above the submenu button
}
